@import "~bootstrap/scss/bootstrap";

.my-bk{
    background-image:url(https://media-assets.vanityfair.it/photos/61b130282e634d794ba25db8/16:9/w_1600%2Cc_limit/Preparazione_piatto_gourmet_Ristoranti_gourmet_del_Trentino_Alto_Adige-desktop.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}
.my-text{
    color: white;
}
.my-dimension{
    min-height: 400px;
}

.my-back-navbarleft{
    //background-color: #27187E;
    background-color: black;
}

.my-back-main-navbar{
    background-color: #ffcc33;
}

.my-logo-dashboard{
    height: 65px;
    width: 65px;
}

.my-back-link-left{
    //background-color: #AEB8FE;
    background-color: #FAA343;
}

.my-logo-restaurant-and-food{
    max-width: 100%;
    height: 250px;
    aspect-ratio: 1;
}


.img-vue{
    width: 80px;
    aspect-ratio: 1;
}

// validation
.error-help-block {
    color: red;
}


.my-back-pattern{
    background-color: rgba($color: #000000, $alpha: 0.2);
}

.my-back-pattern-2{
    background-image: url(../img/bg-pattern.jpg);
}


.my-color-text-orange{
    color: #ffcc33;
}